<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thesis_Sagip"
        tools:targetApi="31">
        <activity
            android:name=".ID_Verification"
            android:exported="false" />
        <activity
            android:name=".Hospital_Home_Page"
            android:exported="false" />
        <activity
            android:name=".Brgy_Home_Page"
            android:exported="false" />
        <activity
            android:name=".Rescuer_Home_Page"
            android:exported="false" />
        <activity
            android:name=".Senior_Home_Page"
            android:exported="false" />
        <activity
            android:name=".Barangay_Registration"
            android:exported="false" />
        <activity
            android:name=".Waiting_Page"
            android:exported="false" />
        <activity
            android:name=".Hospital_Register_Page"
            android:exported="false" />
        <activity
            android:name=".Register_Rescuer_Page"
            android:exported="false" />
        <activity
            android:name=".Register_Senior_Page"
            android:exported="false" />
        <activity
            android:name=".OTP_Page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>